<div class="card text-dark my-3 mx-5" *ngFor = "let image of data">
  <img
    class="card-img"
    [src]="image"
    width="100%"
    height="400px"
    alt="Card image"
  />
  <div class="card-img">
    <h3 class="card-title px-4">Discount</h3>
    <p class="card-text px-4 pb-3">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi ipsum,
      animi deserunt dolorem iusto ullam laborum, temporibus sunt magnam
      excepturi, quas culpa consequatur rem veritatis accusamus qui dolores
      impedit in?
    </p>
  </div>
</div>
<!-- <div class="card text-dark my-3 mx-5">
  <img
    class="card-img"
    src="./assets/images/blackfriday.png"
    width="100%"
    height="400px"
    alt="Card image"
  />
  <div class="card-img">
    <h3 class="card-title px-4">Black Friday</h3>
    <p class="card-text px-4 pb-3">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia
      voluptatibus consequatur ducimus, perferendis debitis repellat, aliquid
      expedita totam vero eaque molestias sunt, ab voluptas. Ipsam autem
      aspernatur natus maxime tempore!
    </p>
  </div>
</div>
<div class="card text-dark my-3 mx-5"> -->
  <!-- <img
    class="card-img"
    src="./assets/images/special.jpg"
    width="100%"
    height="400px"
    alt="Card image"
  />
  <div class="card-img">
    <h3 class="card-title px-4">Special Offers</h3>
    <p class="card-text px-4 pb-3">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia
      voluptatibus consequatur ducimus, perferendis debitis repellat, aliquid
      expedita totam vero eaque molestias sunt, ab voluptas. Ipsam autem
      aspernatur natus maxime tempore!
    </p>
  </div>
</div> -->
